.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "add-user live-template" "user-list user-card";
  height: 100%;
  padding: 24px;

  div {
    padding: 16px;
  }
}

.live-template { grid-area: live-template; }

.add-user { grid-area: add-user; }

.user-list { grid-area: user-list; }

.user-card { grid-area: user-card; }

@media (max-width: 599px) {
  .grid-container {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "user-card" "user-list" "live-template" "add-user";

    div {
      padding: initial;
    }
  }
 }